.product-card {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    .product-card-list {
        border: 1px solid rgb(228, 228, 228);
        border-radius: 5px;
        margin-right: 10px;

        display: block;
        .product-image {
            width: 100%;
            img {
                width: 150px;
                height: 200px;
                border-radius: 5px;
            }
        }
        .product-main {
            padding: 10px;
            h1 {
                font-weight: normal;
                font-size: 14px;
                height: 30px;
            }
            .product-price {
                font-weight: bold;
                margin-bottom: 5px;
            }
            .product-sold {
                color: #666;
                font-size: 10px;
            }
        }
        .add-to-cart {
            padding: 20px;
            text-align: center;
            .button {
                cursor: pointer;
                border:0;
                color: #fff;
                background-color: #0e4d71;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }
}